<header>
    <ul>
        <li><a [routerLink]="['home']">Home</a></li>
        <li><a [routerLink]="['login']">Login</a></li>
        <li><a [routerLink]="['profile']">Profile</a></li>
    </ul>
</header>
