header{
    background-color: #d8d4d4;
    border-bottom: 1px solid #c3c3c3;
    padding: 15px;
    font-size: 12px;
    text-align: center;
}

header li{
    display: inline-block;
    padding: 0px 10px;
    border-right:1px solid #afabab ;
}
header li a{
    color: rgb(107, 105, 105);
    text-decoration: none;
}
header li a:hover{
    color: rgb(32, 32, 32);
    text-decoration: none;
}
header li:last-child{
    border-right: none;
}