
<form #login="ngForm" (ngSubmit)="onSubmit(login)">
    <p>Secure Login</p>
    <div>
        User ID <br />
        <input type="text" name="userID" ngModel required>
    </div>

    <div>
        Password <br />
        <input type="password" name="password" ngModel required>
    </div>

    <div>
        <button type="submit" [disabled]="!login.valid">Login</button>
    </div>
</form>
