form{
    max-width: 300px;
    min-height: 300px;
    margin: auto;
    background-color: #d8d4d4;
    border: 1px solid #c3c3c3;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
}

form p{
    font-size: 20px;
    padding: 10px 0px;
    color:#626262;
    border-bottom:1px solid #c3c3c3 ;
}

form div{
    padding:10px 0px 10px 0px;
    font-size: 12px;    
    color: #626262;
}
form input{
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 7px 10px;
    background-color: #fff;
    font-size: 14px;
    color: #949494;
    margin-top: 5px;
    min-width: 93%;
}

form button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
form button:disabled{
    color:rgb(214, 214, 214);
    border-color: #a0a0a0;
    background-color: #a0a0a0;
}

