p{
    max-width: 300px;
    min-height: 300px;
    margin: auto;
    background-color: #d8d4d4;
    border: 1px solid #c3c3c3;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
    font-size: 20px;
    color:#626262;
}